php_flag display_errors off 
php_flag display_startup_errors off

AddDefaultCharset UTF-8 
Options -Indexes 
RewriteEngine on

#ServerSignature EMail
#SetEnv SERVER_ADMIN dcversus@gmail.com
#Header set X-Powered-By "dcversus"

RewriteCond	%{REQUEST_URI}	!app/* 
RewriteCond	%{REQUEST_URI}	!assets/*
# RewriteCond	%{REQUEST_URI}	!robots.txt
# RewriteCond	%{REQUEST_URI}	!humans.txt
# RewriteCond	%{REQUEST_URI}	!sitemap.php
# RewriteCond	%{REQUEST_URI}	!favicon.*
RewriteRule	^(.*)$	app/app.php [L,QSA]